@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 480px) {
    .principal {
        width: 100%;
    }

    .campo {
        border: none;
    }

    .campo img {
        display: none;
    }

    .principal {
        border-radius: 10px;
    }
}

@media screen and (min-width: 481px) and (max-width: 1200px) {
    .principal {
        border-radius: 10px;
        width: 100%;
    }

    .campo img {
        display: none;
    }

    .campo {
        border: none;
    }
}